.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* height: auto; */
    /* height: 100vh; */
    /* overflow: hidden; */
}
/* *, *::before, *::after {
    box-sizing: border-box;
  } */