.socialLinksMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-size: 1em;
    gap: 0;
    padding: 1em 1em;   
}
.socialLinkMain:hover{
cursor: pointer;
}
@media only screen and (max-width: 768px){
    .socialLinksMain{
        display: none;
    }
}